

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100vw;
   height: 7.5vh;
   background-color:  #C3CFD9; 
   color: #E8833A;
   font-size: 34px;
}
